body {background-color:black;font-family: aria;color: white;text-align: center;}
h1{color:grey;font-family: Verdana;}
.maindiv{
    background-color: white;
    color: black;
    width: 600px;
    padding: 20px;
    border: 25px;
    margin-left: 600px;
}


